body {
    background-color: black;
}

.myskills {
    color: white;
    font-family: Verdana;
    font-size: 180%;
    text-align: center;
}


.langs {
    color: white;
    font-family: Verdana;
    font-size: 120%;
    text-align: left;
}
.myprojects {
    color: white;
    font-family: Verdana;
    font-size: 180%;
    text-align: center;
}

h1 {
    color: white;
    font-family: Verdana;
    font-size: 200%;
    text-align: center;
}

p {
    color: white;
    font-family: Verdana;
    font-size: 120%;
    text-align: left;
}